<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>
<!-- Toast script -->
<script>
  $(document).ready(function () {
    $(".toast").toast({
      delay: 10000
    });
    $(".toast").toast("show");
  })
</script>

<body>
  <!-- Toast -->
  <%if (userCreated) { %>
  <div style="z-index: 1; position: absolute; top: 10px; left: 10px;" class="toast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header" style="color: green;">
      <i class="fas fa-check-circle">- </i>
      <strong class="me-auto">Success!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      User has been successfully created. Please login to access user panel.
    </div>
  </div>
  <% } %>

  <%if (justDeleted) { %>
  <div style="z-index: 1; position: absolute; top: 10px; left: 10px;" class="toast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header" style="color: red;">
      <i class="fas fa-check-circle">- </i>
      <strong class="me-auto">Entry deleted!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Entry successfully deleted.
    </div>
  </div>
  <% } %>

  <%if (justCreated) { %>
  <div style="z-index: 1; position: absolute; top: 10px; left: 10px;" class="toast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header" style="color: green;">
      <i class="fas fa-check-circle">- </i>
      <strong class="me-auto">Entry created!!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Entry successfully created.
    </div>
  </div>
  <% } %>
  <!-- End of Toast -->

  <div id="container">
    <%- include ('../partials/nav.ejs') %>
    <br>
    <!-- header bar -->
    <!-- Main content -->
    <div id="firstContainer" class="container-fluid" style="max-width: 1100px;">
      <!-- Header Row -->
      <div class="row">
        <div id="headerBar" class="col-sm-6" style="height: 80px; ">
          <h1 style="height: 80px; font-size: 3.5em; text-align: center; color:#003664"><i class="fas fa-dog"></i> Adopt
          </h1>
        </div>
        <div id="headerBar" class="col-sm-6 activeBox"
          style="height: 80px; padding: 0;background-color: rgb(194, 194, 194)">
          <a href="/main/favorites" style="text-decoration: none;">
            <h1 style="height: 80px; font-size: 3.5em; text-align: center; color:#003664"><i
                class="fad fa-heart-circle"></i> Favorites</h1>
          </a>
        </div>
      </div>

      <!-- admin Row -->
      <div class="row">
        <!-- User Panel -->
        <div class="row" style="justify-content: center; display: flex; margin: 20px 0 10px 0;">
          <div class="col-sm-10">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item" style="background-color: white;">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    style="padding: 5px;">
                    <h4><i class="far fa-info-circle"></i> User Panel - Click here to get started!</h4>
                  </button>
                </h2>
                <!-- accordion toggle -->
                <% if (toggleAccordion) { %>
                <form action="/main/<%=currentPage%>" method="POST">
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                </form>
                <% } else { %>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <% } %>
                  <!-- end of accordion toggle -->
                  <div class="accordion-body">
                    <% if (!currentUser) { %>
                    <h5 style="color: rgb(235, 86, 0);"><i class="fal fa-exclamation-triangle"></i> Please create an
                      account and
                      sign in to use the panel
                    </h5>
                    <% } %>

                    <form action="/main/new" style="margin-right: 20px; display: inline-block;">
                      <% if (currentUser) { %>
                      <input type="submit" class="btn btn-warning" value="Create new data">
                      <% } else { %>
                      <input type="submit" class="btn btn-warning disabled" value="Create new data">
                      <% } %>
                    </form>
                    <form action="/main/setup/seed" style="margin-right: 20px; display: inline-block;">
                      <% if (currentUser) { %>
                      <input type="submit" class="btn btn-success" value="Seed sample data">
                      <% } else { %>
                      <input type="submit" class="btn btn-success disabled" value="Seed sample data">
                      <% } %>
                    </form>
                    <form action="/main/setup/nuke?_method=DELETE" method="POST"
                      style="margin-top: 10px; display: inline-block;">
                      <% if (currentUser) { %>
                      <input type="submit" class="btn btn-danger" value="Clear all data">
                      <% } else { %>
                      <input type="submit" class="btn btn-danger disabled" value="Clear all data">
                      <% } %>
                    </form>

                    <div class="row" style="margin-top: 10px;">
                      <div class="col-sm-12">
                        <p style="margin:0;">Note: Maximum of 40 entries displayed. Newly created entries will not
                          display when 40 entries
                          already exist.</p>
                        <p>Use <code>[Clear all data]</code> to clear the entries.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of user panel -->

      </div>
      <!-- End of row -->
      <!-- store Row -->
      <div class="row" style="display: flex; justify-content: center; min-height: 200px;">
        <!-- Article -->
        <div class="col-sm-11" style="display: flex; flex-wrap: wrap;">
          <%for (let pet of data) { %>
          <!-- Card -->
          <div class="card" style="width: 220px; margin: 20px 10px 0 10px;">
            <a href="/main/show/<%=pet.id%>"> <img style="width: 217px; height: 200px;" src="<%=pet.image%>"
                class="card-img-top"></a>
            <div class="card-body">
              <h5 class="card-title" style="display: inline-block"><%=pet.name%></h5>
              <!-- Favorite -->
              <% if (currentUser) { %>
              <%if (pet.favoritedBy.includes(currentUser.username)) {%>
              <a style="text-decoration: none; display: inline-block;" href="/main/favorites/<%=pet.id%>"><i
                  style="font-size: 1.5em;color:rgb(255, 112, 136);" class="fad fa-heart-circle"></i></a>
              <% } else {%>
              <a style="text-decoration: none; display: inline-block;" href="/main/favorites/<%=pet.id%>"><i
                  style="font-size: 1.5em;" class="fad fa-heart-circle"></i></a>
              <% } %>
              <% } else {%>
              <i style="font-size: 1.5em; display: inline-block;" class="fad fa-heart-circle"></i>
              <% } %>
              <!-- End of favorite -->

              <p style="margin: 0;" class="card-text">Age: <%=pet.age%></p>
              <p class="card-text">Breed: <%=pet.breed%></p>
              <a href="/main/show/<%=pet.id%>" style="text-decoration: none;">More info...</a>
            </div>
          </div>
          <!-- End of card -->
          <% } %>
        </div>
      </div> <!-- End of Row-->
      <!-- Pagination -->
      <%-include("../partials/pagination.ejs")%>
    </div> <!-- End of Main content-->

  </div>
  <!--End of container-->
</body>

</html>