<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <div id="container">
    <%- include ('../partials/nav.ejs') %>

    <!-- header bar -->
    <div class="container-fluid" style="max-width: 1100px;">
      <div class="row">
        <div id="headerBar" class="col-md-6" style="height: 80px;">
          <h1 style="font-size: 4em; text-align: center; color:#003664">Adopt</h1>
        </div>
      </div>
    </div>
    <!-- Main content -->
    <div id="firstContainer" class="container-fluid" style="max-width: 1100px;">
      <!-- admin Row -->
      <div class="row">
        <div class="col-sm-2" style="display: flex;">
          <form action="/main/setup/seed" style="margin-right: 20px;">
            <% if (currentUser) { %>
            <input type="submit" class="btn btn-success" value="Seed sample data">
            <% } else { %>
            <input type="submit" class="btn btn-success disabled" value="Seed sample data">
            <% } %>
          </form>
          <form action="/main/setup/nuke?_method=DELETE" method="POST">
            <% if (currentUser) { %>
            <input type="submit" class="btn btn-danger" value="Clear all data">
            <% } else { %>
            <input type="submit" class="btn btn-danger disabled" value="Clear all data">
            <% } %>
          </form>
        </div>
      </div>
      <!-- End of row -->
      <!-- store Row -->
      <div class="row" style="display: flex; justify-content: center; min-height: 200px;">
        <!-- Article -->
        <div class="col-sm-11" style="display: flex; flex-wrap: wrap;">
          <%for (let pet of data) { %>
          <!-- Card -->
          <div class="card" style="width: 220px; margin: 20px 10px 0 10px;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=pet.name%></h5>
              <p class="card-text">Age: <%=pet.age%></p>
              <p class="card-text">Breed: <%=pet.breed%></p>
              <a href="#" class="">More info...</a>
            </div>
          </div>
          <!-- End of card -->
          <% } %>
        </div>
      </div> <!-- End of Row-->
      <!-- Pagination -->
      <%-include("../partials/pagination.ejs")%>
    </div> <!-- End of Main content-->

  </div>
  </div>
</body>

</html>