<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <div id="container">
        <%- include ('../partials/nav.ejs') %>

        <div id="firstContainer" class="container-fluid" style="max-width: 700px; border-radius: 10px; padding: 10px;">
            <div style="text-align: center;" class="row">
                <h3>Comments</h3>
            </div>
            <div>
                <a href="/main/show/<%=pet.id%>"><i style="font-size: 2em;color: rgb(189, 189, 0);"
                        class="fad fa-arrow-circle-left"></i></a>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="far fa-edit"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New Entry</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/main/logs/<%=pet.id%>" method="POST">
                                        <label for="exampleFormControlTextarea1" class="form-label">Log:</label>
                                        <textarea name="log" class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input class="btn btn-success" type="submit" value="Create">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <% for (let log of petLog) { %>
            <div class="row">
                <div class="col-sm-10">
                    <p style="margin: 0;">Posted by <i><%=log.username%></i> on <%=log.date%></p>
                    <strong>Comment:</strong> <%=log.log%>
                    <hr>
                </div>
                <% if (log.username === currentUser.username) { %>
                <div class="col-sm-2" style="float: bottom">
                    <form action="/main/logs/<%=pet.id%>?_method=PUT" method="POST">
                        <input type="hidden" name="logID" value="<%=log.id%>">
                        <button class="btn"><i style="font-size: 2em; color: crimson;"
                                class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
                <% } %>

            </div>
            <% } %>

        </div>


    </div>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('.btn-primary').trigger('focus')
        })
    </script>
</body>

</html>