<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<script>
  $(document).ready(function () {
    $(".toast").toast({
      delay: 10000
    });
    $(".toast").toast("show");
  })
</script>

<body>

  <%if (justEdited) { %>
  <div style="z-index: 1; position: absolute; top: 10px; left: 10px;" class="toast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header" style="color: rgb(139, 126, 0);">
      <i class="fas fa-check-circle">- </i>
      <strong class="me-auto">Entry edited!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Entry successfully edited.
    </div>
  </div>
  <% } %>

  <div id="container">
    <%- include ('../partials/nav.ejs') %>


    <br>
    <div id="firstContainer" class="container-fluid" style="max-width: 500px; border-radius: 10px; padding: 10px;">
      <div class="row">
        <div class="col-sm-6">
          <a href="/main/<%=userPage%>"><i style="font-size: 2em;color: rgb(189, 189, 0);"
              class="fad fa-arrow-circle-left"></i></a>
          <br>
          <h2><%=pet.name%></h2>
          <br>
          <h5>Age: <%=pet.age%></h5>
          <h5>Breed: <%=pet.breed%></h5>
        </div>
        <div class=" col-sm-4">
          <img style="width: 200px; height: 200px; border-radius: 10px; border: 2px solid black;" src="<%=pet.image%>">
        </div>
      </div>
      <div class="row" style="margin-left: 4px; margin-top: 10px;">
        <div class="col-sm-11" style="border-bottom: 2px solid black;">
        </div>
      </div>
      <!-- Description -->
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-11">
          <h5>Description</h5>
          <%=pet.description%>
        </div>
      </div>

      <div class="row" style="margin-left: 4px; margin-top: 10px;">
        <div class="col-sm-11" style="border-bottom: 2px solid black;">
        </div>
      </div>
      <!-- Stats -->
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          Good with kids:
          <%if (pet.goodWithKids === true) { %>
          Yes
          <% } else {%>
          No
          <% } %>
          <br>
          Good with other dogs:
          <%if (pet.goodWithDogs === true) { %>
          Yes
          <% } else {%>
          No
          <% } %>
          <br>
          Good with cats:
          <%if (pet.goodWithCats === true) { %>
          Yes
          <% } else {%>
          No
          <% } %>
        </div>
      </div>
      <br>
      <% if (currentUser) {%>
      <div class="row">
        <div class="col-sm-10" style="display: flex;">
          <a class="btn btn-warning" href="/main/edit/<%=pet.id%>">Edit</a>
          <form action="/main/show/<%=pet.id%>?_method=DELETE" method="POST" style="margin-left: 10px;">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
      <% } else {%>
      <div class="row">
        <div class="col-sm-10" style="display: flex;">
          <a class="btn btn-warning disabled" href="/main/edit/<%=pet.id%>">Edit</a>
          <form action="/main/show/<%=pet.id%>?_method=DELETE" method="POST" style="margin-left: 10px;">
            <input class="btn btn-danger disabled" type="submit" value="Delete">
          </form>
        </div>
        <div class="col-sm-12">
          <p style="color: rgb(235, 86, 0);"><i class="fal fa-exclamation-triangle"></i> Please sign in to use these
            features
          </p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>

</html>